body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    /*background-image:url(../images/bosrivier-aangepast2.jpg);*/
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    -webkit-background-image: -webkit-linear-gradient(top, #283ad6,#26a8c9 50%,#26a8c9 71%, #2C8E0E 71%, #01A611);
    background-attachment:fixed;
    background-size: cover; 
}
::-webkit-scrollbar{
    background: transparent;
    width: 3vw;
}
::-webkit-scrollbar-thumb {
    background: rgb(255, 0, 102);
    -webkit-border-radius: 2vmin;
}

#wolk{
    background-image: url(../images/bosrivier-wolk.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    width: 100vw;
    height: 50vh;
    top: 1vw;
    left:0;
}

#grond{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(../images/bosrivier-grond.png);
}

.app {
    background: url(../images/elfje.png) no-repeat center top; 
    background-size: contain;
    position: absolute;             
    left: 50%;
    top: 50%;
    height: 30px;                  
    width: 250px;                   
    text-align: center;
    padding: 200px 0px 0px 0px;     
    margin: -125px;
}

.event {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    margin: 27px;
    padding: 4px 0px;
    text-transform: uppercase;
    background-color: #696969;
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

.ready {
    background-color: #4B946A;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@media screen and (orientation: portrait) {
}

@media screen and (orientation: landscape) {
}

#title{
    color: crimson;
}
#elfjezegt{
    padding: 9vmin 1% 0px 1%;
    text-align: center;
    font-size: 3vmin;
}

#zezegt{
    min-height: 25vw;
    top: 1vw;
}

#elfje{
    height: 55vw;
    background-image: url(../images/elfje.png);
    background-repeat: no-repeat;
    background-size: 40vw;
    background-position: right;
    position:absolute;
    width: 40vw;
    right: 5vw;
    /*border: 5px solid crimson;*/
    -webkit-animation-name: elfjezweeft;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
   
}

@-webkit-keyframes elfjezweeft {
    from {top: 30vw;}
    to{top: 35vw;}   
}



#wensscherm {
    display: none;
    /*background-color:  rgba(255, 255, 255,0.9);
    background-color: rgba(167, 220, 220, 0.90);*/
    position: fixed;
    width: 100%;
    height: 100%
    overflow-y: hidden;
    /*border-radius: 2vmin;    
    -webkit-animation: slidein 1s;
    -webkit-animation-timing-function: cubic-bezier(.28,.04,.32,.77);
        
}

@-webkit-keyframes slidein {
    from {left: -50vw;}
    
    to{left: 0vw;}   
}

 .koe{   
    /*textstuff starts here
    margin-left: 2vmin;
    margin-right: 2vmin;
    padding-top: 3vmin;
    padding-bottom: 1vmin;
    text-align: center;
    font-size: 5vmin;
    background-clip: padding-box;
    background-color:rgba(218, 170, 228, 0.90); 
    text-shadow: 1px 1px 3vmin #808080;
    border-radius: 3vmin;
    min-height: 10vmin;*/
}


 #blijheidsmeterleeg {
    position: fixed;
    height: 20vmax;
    width: 2vmax;
    left: 3vmax;
    top: 30vmax;
    background-color: rgb(135, 135, 135);
    border-radius: 1vmax;
}

#blijheidsmeter {
    position: fixed;
    height: 10vmax;
    width: 2vmax;
    left: 3vmax;
    top: 40vmax;
    background-color: crimson;
    border-radius: 1vmax;
}

#clickmefirst {
     position: fixed;
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     display: none;
     background-color: transparent;
}

#main_screen{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: none;
 }

#menu_screen{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: block;
    font-size: 7vmin;
 }


#achievements_screen{
    display: none;
}

#credits_screen{
    display: none;
}


#wenscontainer{
    height: 60vh;
    left: 1vw;
    margin: 0;
    width: 99vw;
    overflow-y:scroll;
}

  .wens {
    margin-bottom: 7vw;
    position: relative;
    width: 40vw;
    padding: 2vw;
    background: #FFFFFF;
    border: #000000 solid 3vw;
    -webkit-border-radius: 5vw;
    -webkit-box-shadow: 1vw 1vw 5vw 0vw #616161;
    font-size: 4vw;
}

  .wens:after {
    content: "";
    position: absolute;
    bottom: -6vw;
    left: 3vw;
    border-style: solid;
    border-width: 7vw 4vw 0;
    border-color: #FFFFFF transparent;
    display: block;
    z-index: 1;
    -webkit-transform: skewX(-40deg);
}

  .wens:before {
    content: "";
    position: absolute;
    bottom: -9vw;
    left: 0vw;
    border-style: solid;
    border-width: 7vw 5vw 0;
    border-color: #000000 transparent;
    display: block;
    z-index: 0;
    -webkit-transform: skewX(-45deg);
}


#wens1{
    font-size: 4vw;
    outline:none;
    border: none;
}
